html, body{
    margin: 5px;
}



header{
    background-color: black;
    color: white;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 10;
}


.imagem_fundo{
    background:url("imagem/campo.jpg");
    height:50%;
    text-align: center;
    padding: 80px;
}


#logo{
    width: 89px;
    position: absolute;
    top: 0px;
    margin-left: 5%;
}

#menu{
    float: right;
    margin-right: 5%;
    list-style: none;
    margin-top: 5px;
}

a{
    text-decoration: none;
    color: white;   
}
li{
    float: left;
    padding: 20px 10px 20px 10px;
}   
li:hover{
    background-color: #0AF68F;
}

#titulo{
    color: black;
    padding-top: 10%;
    font-size: 50px;
}


#subtitulo{
    color: black;
    font-size: 40px;
    text-shadow: 1px 1px black;
    background-size: cover;
    padding: 4%;
}

#botao{
    color:white;
    border: 1px rgb(233, 233, 233) solid;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}


p{
    font-size: 20px;
    line-height: 30px;
    margin: 10px;
}


section{
    padding: 20px;
    float: left;
}

.coluna{
    float:left;
    padding: 10;
    margin: 10px;
    position: relative;
    width: 32%;
}

.coluna > img{
    padding: 0 5px;
    font-size: 8px;
    text-align:center;
    margin: 5px;
}

.coluna > p{
    font-size: 20px;
    margin-left: 20px;
    padding: 20px;
}
.colunadois{
    float: left;
    padding: 0 5%;
    position: relative;
    width: 40%;
}
.carrinho{
    background-color: #f7f7f7;
}
.colunatres{
    float: left;
    padding: 0 6%;
    position: relative;
    width: 18%;
    line-height: 30px;
    font-size: 18px;
}

.tema{
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.img{
    width: 40%;
    padding: 0;
    text-align: center;
    margin: 0;
}

h2{
    margin: 5px;
}

h4{
    font-size: large;
}

.objetivo{
    float:left;
    padding: 4%;
    position: relative;
    width: 30%;
    text-align: center;
}

.objetivo2{
    float:left;
    padding: 0;
    position: relative;
    width: 30%;
}

#cor{
    background-color: #15EB15
}

.cor2{
    background-color: aquamarine;
}

.centralizado{
    text-align: center;
    gap: 10px;
}

.justificado{
    text-align: justify;
    gap: 10px;
}

.desafio{
    margin: 5px;
    padding: 10px;
    display: flex;
    
}

.desafio img{
    display: flex;
    width: 80%;
    gap: 10px;
    margin: 10px 10px 10px 10px;
    padding: 10px;
}

.desafio p{
    text-align: justify;
    padding-bottom: 5px;
}

#sustentavel img{
    width: 80%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    display: flex;
    justify-content: center;
}
.esquerda{
    text-align: left;
    margin-right: 70%;
    line-height: 150%;
    padding: 0px;
    margin-left: 10%;
   background-color: #c5f84f;
}

.destaque{
    background-color:#f7f7f7;
    padding: 20px;
}



.sobremim img{
    float: left;
    padding: 5;
    background-color: #c9c2c231;
    margin-left: 0px;
    border: 10px;
    width: 30%;
    border-radius: 50%;
}

.sobremim{
    width: 100%;
    padding: 0;
    margin:100;
}


#rodape{
    width: 100%;
    width: 100%;
    background-color: #aee2cc;
    float: left;
    padding: 0;
    margin:0;
    border: 0;
    gap: 10px;
    
}
@media all and (max-width:768px){
    #menu{
        visibility: hidden;
    }
    .coluna, .colunadois, .colunatres, .objetivo, .objetivo2, .destaque{
        display: block;
        width: 80px;
        padding:0;
        margin: 10px auto;
        float:none;
    }
}